body {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    box-sizing: border-box;
}

#login_page {
    width: 40%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 40% auto;
    border-radius: 10px;
    box-shadow: 3px 3px 40px #ccc;
}

.login_items {
    padding: 30px;
}

.login_header {
    background-color: #6a7f10;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.5em;
}

header > div {
    color: white;
    font-weight: 1.2em;
    text-align: right;
}
