<!DOCTYPE html>

<html lang="en">
    <head>
        <style>
            .cover {
                padding: 70px;
                display: flex;
                justify-content: space-around;
            }

            body {
                font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
                box-sizing: border-box;
            }

            header {
                overflow: hidden;
                background-color: #6a7f10;
                padding: 10px 15px;
                margin-bottom: 0.5em;
            }

            header a {
                float: left;
                color: white;
                text-align: center;
                padding: 12px 15px;
                text-decoration: none;
                font-size: 1em;
                line-height: 25px;
                border-radius: 5px;
            }

            header a.logo {
                font-size: 1.6em;
            }

            header a:hover {
                background-color: #464646;
                color: white;
            }

            .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
                display: inline-block;
            }

            .btn {
                border: 2px solid gray;
                color: gray;
                background-color: white;
                padding: 6px 16px;
                border-radius: 8px;
                font-size: 15px;
                font-weight: bold;
            }

            input[type=file], input[type=submit]  {
                font-size: 80px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;   
            }

            input[type=file]:active , input[type=submit]:active  {
                font-size: 80px;
                background-color: blue;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;   
            }
        </style>
    </head>

    <body>
        <header>
            <a href="#default" class="logo">Portland State University</a>
        </header>

        <section class= "cover">
            <section style= "background-color: white">

                    <section>
                        <p class="Heading"><strong>Upload Company Data</strong></p>
                        <p class="Description">Remember to upload a csv file</p>
                        <br>
                    </section>
                    
                    <section class="upload-btn-wrapper">
                        <button class="btn">Upload a file</button>
                                <input type="file" name="myfile" />
                    </section>

                    <form class="upload-btn-wrapper" action="/AdminPreview" method="post">        
                        <button class="btn">Submit</button>        
                        <input type="submit" value="Submit">
                    </form>

                </section>
            </section>
        </section>
    </body>
</html>