<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/cfairmap.css" />
  </head>

  <body>
    <header>
      <!-- button for Engg
      button for All Majors -->
    </header>
    <main>
      <div id="map-container">
        <div id="map-12-13" class="map-item">
          <% if(companies[11].Employer != "") { %>
          <div class="comp-block">
            <%=companies[11].Employer%>
          </div>
          <% } else {%>
          <div class="comp-block">
            <%=companies[11].Number%>
          </div>
          <% } %>
          <div class="comp-block">
            <%=companies[12].Number%><%= companies[12].Employer%>
          </div>
        </div>
        <div id="map-14-20" class="map-item"></div>
        <div id="map-21-23" class="map-item"></div>
        <div id="map-24-25" class="map-item"></div>
        <div id="map-stage" class="map-item">STAGE</div>
        <div id="map-9-11" class="map-item"></div>
        <div id="map-mid" class="map-item"></div>
        <div id="map-26-28" class="map-item"></div>
        <div id="map-7-8" class="map-item">MAP BOTTOM LEFT</div>
        <div id="map-3-6" class="map-item"></div>
        <div id="map-empty" class="map-item"></div>
        <div id="map-31-33" class="map-item"></div>
        <div id="map-29-30" class="map-item"></div>
      </div>
      <div id="map-entrance">
        <div id="map-1-2-34-35"></div>
      </div>
    </main>
  </body>
</html>
