<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/cfairmap.css" />
  </head>

  <body>
    <header>
      <!-- button for Engg
      button for All Majors -->
    </header>
    <main>
      <div id="map-container">
        <div id="map-12-13"></div>
        <div id="map-14-20"></div>
        <div id="map-21-23"></div>
        <div id="map-24-25"></div>
        <div id="map-stage"></div>
        <div id="map-9-11"></div>
        <div id="map-mid"></div>
        <div id="map-26-28"></div>
        <div id="map-7-8"></div>
        <div id="map-3-6"></div>
        <div id="map-empty"></div>
        <div id="map-31-33"></div>
        <div id="map-29-30"></div>
      </div>
      <div id="map-entrance">
        <div id="map-1-2-34-35"></div>
      </div>
    </main>
  </body>
</html>
