<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheets/map.css" />
  </head>

  <body>
    <header>
      <!-- button for Engg
      button for All Majors -->
    </header>
    <main>
      <!-- <% for(var i in companies) { %>
      <div><%=companies[i].Employer %></div>
      <% } %> -->
    </main>
  </body>
</html>
